
@media screen,print{
body {
	background: #FFF;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

fieldset {
	margin: 0 0 25px 0;
	text-align: justify;
}
.preface {
	font-size:16px;
	padding:5px;
	text-align:justify;
	line-height: 1.5;
}

#prefacefooter {
	 float:right;
	 text-align:right;
	 font-size:14px;
	 padding:50px 10px 5px 0px;
}

#tabs {
	float:none;
	width:100%;
	font-size:93%;
	height:auto;
	border-bottom:1px solid #666;
	overflow:hidden;
	}

#tabs ul {
	margin:0;
	padding:10px 10px 0 0px;
	list-style:none;
	
	}

#tabs li {
	display:inline;
	margin:0;
	padding:0;
	}

#tabs a {
	float:left;
	background:url("Chobi/left.png") no-repeat left top;
	margin:0;
	padding:0 0 0 6px;
	text-decoration:none;
	}

#tabs a span {
	float:left;
	display:block;
	background:url("Chobi/right.png") no-repeat right top;
	padding:6px 15px 4px 6px;
	margin-right:2px;
	color:#FFF;
	}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#tabs a span {float:none;}

/* End IE5-Mac hack */
#tabs a:hover span {
	}

#tabs a:hover {
	background-position:0% -42px;
	}

#tabs a:hover span {
	background-position:100% -42px;
	}
.foot {
	text-align: center;
	font-size:16px;
	color:#003;
	background-color:#CECEFF;
}



<!--
.sttusbar {
	text-align: center;
}
.hed {
	text-align: center;
	color: #000;
}
.name {
	color: #0F0;
}
a:link {
	color: #F00;
	text-decoration: none;
}
a:visited {
	color: #F00;
	text-decoration: none;
}
a:hover {
	color: #F00;
	text-decoration: underline;
}
a:active {
	color: #F00;
	text-decoration: none;
}
-->

.srcbtn{
background-image:linear-gradient(-90deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.2));
	background-image:-webkit-gradient(linear, left top, left bottom,color-stop(0%, rgba(255, 255, 255, 0.7)), color-stop(100%, rgba(255, 255, 255, 0.2)));
	background-image:-moz-linear-gradient(-90deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.2));
	filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#70ffffff', EndColorStr='#20ffffff');
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#70ffffff', EndColorStr='#20ffffff')";
	background-color:rgb(14, 52, 92);
	border:1px solid rgb(102, 102, 102);
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	padding:10px 20px;
	box-shadow:0px 0px 0px rgb(255, 255, 255);
	-moz-box-shadow:0px 0px 0px rgb(255, 255, 255);
	-webkit-box-shadow:0px 0px 0px rgb(255, 255, 255);
	font-size:15px;
	font-weight:normal;
	color:rgb(255, 255, 255);
	text-shadow:1px 1px 1px rgb(0, 0, 0);
	cursor:pointer;
}

#lgnd
{
/*width:100%;*/
	border: 1px solid #003;
	padding:2px 10px 2px 10px;
	color:#FFF; font:'Arial Black', Gadget, sans-serif;
	font-size:20px;
}
#inputName
{
	padding:10px;
	background-color:#E7F0FA;
}
#IName
{
	background-color:#FFF;
	padding:5px;
	float:left;
	width:35%;
	line-height:normal;
}
#IInput
{
	padding:10px;
	font-size: 18px;
	text-align: justify;
}
#Itxt
{
	height:20px;
	padding:0px 5px 0px 5px;
	border:#0C0 solid 2px;
	text-align:left;
	font-size:15px;
	width:30%;
}
#ItxtInt
{
	height:20px;
	padding:0px;
	border:#0C0 solid 2px;
	text-align:center;
	width:50px;
}
#tblhd
{
	background:url(Chobi/tblbg.jpg) repeat;
	text-align: center;
	color:#FFF;
	font-size:15px;
	padding:5px;
}

#tblhdp
{
	background-color:#E7F0FA;
	text-align: center;
	color:#000;
	font-size:15px;
	padding:5px;
}

.bold {
	font-weight: bold;
}

#tblclm1
{
	background-color:#D9D9FF;
	padding:5px;
}

#tblclm2
{
	background-color:#E1E1FF;
	padding: 3px;
	text-align:center;
}

#tblclm3
{
	background-color:#E1E1FF;
	padding: 3px;
	text-align:center;
	text-align:center;
}

.not {
	text-align: justify;
	color: #930;
	border:#003 solid 1px;
	padding: 10px;
}

#bdy{
	padding:10px;
}
#slide{
	width:auto;
	height:auto;
	position:absolute;
	right:76px;
	top:199px;
	padding:5px;
	color:#000;
	font-size:15px;
}
#cmmnts
{
	/*height:250px;*/
	padding:0px 5px 0px 10px;
	border:#0C0 solid 2px;
	text-align:left;
	font-size:14px;
}

#Islct
{
	height:25px;
	padding:0px 0px 0px 10px;
	border:#0C0 solid 2px;
	text-align:left;
	font-size:18px;
}
.noPrint { display: none; }

#lgndp
{
/*width:100%;*/
	border: 1px solid #999;
	background: #FFF;
	padding:2px 10px 2px 10px;
	color:#000;
	font-size:23px;
}

.lgndp {
	border: 1px solid #999;
	background: #FFF;
	padding:2px 10px 2px 10px;
	color:#000;
	font-size:18px;
	font-weight: bold;
}

.indicators {
	width: 470px;
	float: right;
	border: 1px solid #000;
}

.indicators ul {

}
.indicators h3 {
	text-align: center;
	margin: 2px;
	padding: 0px;
	border-bottom: 1px solid #000;
}
.indicators ul li {
	list-style: square;
	float: left;
	text-align: right;
	font-weight: bold;
}

.indicators li.right {
	list-style: none;
	font-weight: normal;
}

.lclear {
	clear: left;
}

.rclear {
	clear: right;
} 
  
}